public/suppliers.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>XCOM Поставщики</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
  <link href="/assets/css/main.css?v=508fac1" rel="stylesheet"></head>
  <body>
    <div id="app">
      <main>
        <section id="suppliers">
          <div class="container">
            <div class="suppliers content-app">
              <div class="suppliers__title">
                <h1>Станьте поставщиком <br>интернет-магазина<br><span>Xcom-shop</span></h1>
              </div>
              <div class="suppliers__lead">Откройте новые возможности для роста и развития своего бизнеса!</div>
              <div class="suppliers__image"><img src="/image/illustration/1.png" srcset="/image/illustration/1@2x.png 2x" loading="eager" alt="illustration"></div>
              <div class="suppliers__button">
                <div class="button button_main"><a class="open-popup" href="#become-a-supplier" title="Стать поставщиком в один клик"><img src="/image/icon/touch.svg" alt="icon">Стать поставщиком в&nbsp;один&nbsp;клик</a></div>
              </div>
            </div>
          </div>
        </section>
        <section id="sup-about">
          <div class="container">
            <div class="sup-about content-app">
              <div class="sup-about__info"><img src="/image/icon/check.svg" alt="icon">
                <p><b>Xcom-shop</b> гарантирует своим партнерам стабильный канал продаж и разнообразные программы стимулирования, маркетинговую и техническую поддержку. Мы создаем и поддерживаем партнерские отношения со всеми нашими поставщиками, а сотрудничество строим на принципах честности и прозрачности.</p>
              </div>
              <div class="sup-about__title">
                <h2>Xcom-shop сегодня</h2>
              </div>
              <ul class="sup-about-list">
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/1.svg" alt="icon"></div>
                  <div class="sup-about-list__group">
                    <div class="sup-about-list__text">
                      <p>Входит в ТОП-10 крупнейших интернет-магазинов РФ в категории «Электроника и техника»</p>
                    </div>
                    <div class="sup-about-list__note">данные <a href="#" target="_blank" title="Data Insight">Data Insight</a></div>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/2.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Более 1 миллиона уникальных посетителей сайта в месяц</p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/3.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Более 300 тысяч активных клиентов</p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/4.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Собственные склады в Москве и Санкт-Петербурге площадью более 10 000 м<sup>2</sup></p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/5.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Более 100 тысяч товаров в каталоге</p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/6.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>613 товарных групп (постоянно увеличивается)</p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon sup-about-list__icon_wide"><img src="/image/icon/7.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Оперативная доставка по всей России</p>
                  </div>
                </li>
                <li class="sup-about-list__item">
                  <div class="sup-about-list__icon"><img src="/image/icon/8.svg" alt="icon"></div>
                  <div class="sup-about-list__text">
                    <p>Эффективный online- и offline- маркетинг</p>
                  </div>
                </li>
              </ul>
              <div class="sup-about__button">
                <div class="button button_main"><a class="open-popup" href="#become-a-supplier" title="Хочу стать поставщиком"><img src="/image/icon/touch.svg" alt="icon">Хочу стать поставщиком</a></div>
              </div>
            </div>
          </div>
        </section>
        <section id="sup-cooperation">
          <div class="container">
            <div class="sup-cooperation content-app">
              <div class="sup-cooperation__title">
                <h2>Три простых шага к сотрудничеству с&nbsp;<span>Xcom-shop</span></h2>
              </div>
              <div class="sup-cooperation__group">
                <div class="sup-cooperation__desc">
                  <ul class="sup-cooperation-steps">
                    <li class="sup-cooperation-steps__item">
                      <div class="sup-cooperation-steps__count">01</div>
                      <div class="sup-cooperation-steps__text">
                        <p>Заполните заявку и дождитесь обратной связи от наших менеджеров</p>
                      </div>
                    </li>
                    <li class="sup-cooperation-steps__item">
                      <div class="sup-cooperation-steps__count">02</div>
                      <div class="sup-cooperation-steps__text">
                        <p>Обсудите с менеджером категории, цены и условия поставки</p>
                      </div>
                    </li>
                    <li class="sup-cooperation-steps__item">
                      <div class="sup-cooperation-steps__count sup-cooperation-steps__count_last">03</div>
                      <div class="sup-cooperation-steps__text">
                        <p>Подпишите договор и подготовьте товар к отгрузке</p>
                      </div>
                    </li>
                  </ul>
                  <div class="sup-cooperation__info">
                    <div class="sup-cooperation__icon"><img src="/image/icon/emails.svg" alt="icon"></div>
                    <p>Или просто отправьте коммерческое предложение на <a href="mailto:razvitie@xcom.ru" title="Напишите нам">mail@xcomshop.ru</a></p>
                  </div>
                </div>
                <form class="sup-cooperation-form" name="cooperation" autocomplete="off">
                  <fieldset class="sup-cooperation-form__line">
                    <div class="sup-cooperation-form__column">
                      <label for="name">ФИО</label>
                      <input id="name" type="text" name="name" required placeholder="Иванов Иван Иванович" value="" title="ФИО">
                    </div>
                  </fieldset>
                  <fieldset class="sup-cooperation-form__line">
                    <div class="sup-cooperation-form__column">
                      <label for="company">Компания</label>
                      <input id="company" type="text" name="company" required placeholder="Ваша компания" value="" title="Компания">
                    </div>
                  </fieldset>
                  <fieldset class="sup-cooperation-form__line">
                    <div class="radio">
                      <input id="type-phone" type="radio" name="type" value="phone" checked>
                      <label for="type-phone">Номер телефона</label>
                    </div>
                    <div class="radio">
                      <input id="type-email" type="radio" name="type" value="email">
                      <label for="type-email">Почта</label>
                    </div>
                  </fieldset>
                  <fieldset class="sup-cooperation-form__line contact contact_phone">
                    <div class="sup-cooperation-form__column">
                      <label for="phone">Мобильный телефон</label>
                      <input id="phone" type="tel" name="phone" required placeholder="+7 (000) 000-00-00" value="" title="Мобильный телефон">
                    </div>
                  </fieldset>
                  <fieldset class="sup-cooperation-form__line contact contact_email">
                    <div class="sup-cooperation-form__column">
                      <label for="email">Почта</label>
                      <input id="email" type="email" name="email" placeholder="mail@company.ru" value="" title="Почта">
                    </div>
                  </fieldset>
                  <div class="sup-cooperation-form__button">
                    <div class="button button_send button_disabled"><a href="#" title="Отправить">Отправить</a></div>
                  </div>
                  <div class="sup-cooperation-form__link">
                    <p>Нажимая на кнопку «Отправить», вы даёте разрешение на&nbsp;<a href="https://www.xcom-shop.ru/pages/privacy_policy/" target="_blank" title="Ознакомиться с нашей политикой конфиденциальности">обработку персональных данных</a>.</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </main>
<!-- popup-->
<div id="popup">
  <div class="overlay">
    <div class="overlay__close close-popup"></div>
    <!-- стать поставщиком-->
    <div class="module module_center" id="become-a-supplier"><a class="module__close close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="become-a-supplier">
        <div class="become-a-supplier__title">
          <h5>Станьте поставщиком<br>интернет-магазина xcom-shop</h5>
        </div>
        <form class="become-a-supplier-form" name="cooperation" autocomplete="off">
          <fieldset class="become-a-supplier-form__line">
            <div class="become-a-supplier-form__column">
              <label for="popup-name">ФИО</label>
              <input id="popup-name" type="text" name="name" required placeholder="Иванов Иван Иванович" value="" title="ФИО">
            </div>
          </fieldset>
          <fieldset class="become-a-supplier-form__line">
            <div class="become-a-supplier-form__column">
              <label for="popup-company">Компания</label>
              <input id="popup-company" type="text" name="company" required placeholder="Ваша компания" value="" title="Компания">
            </div>
          </fieldset>
          <fieldset class="become-a-supplier-form__line">
            <div class="radio">
              <input id="popup-type-phone" type="radio" name="type" value="phone" checked>
              <label for="popup-type-phone">Номер телефона</label>
            </div>
            <div class="radio">
              <input id="popup-type-email" type="radio" name="type" value="email">
              <label for="popup-type-email">Почта</label>
            </div>
          </fieldset>
          <fieldset class="become-a-supplier-form__line contact contact_phone">
            <div class="become-a-supplier-form__column">
              <label for="popup-phone">Мобильный телефон</label>
              <input id="popup-phone" type="tel" name="phone" required placeholder="+7 (000) 000-00-00" value="" title="Мобильный телефон">
            </div>
          </fieldset>
          <fieldset class="become-a-supplier-form__line contact contact_email">
            <div class="become-a-supplier-form__column">
              <label for="popup-email">Почта</label>
              <input id="popup-email" type="email" name="email" placeholder="mail@company.ru" value="" title="Почта">
            </div>
          </fieldset>
          <div class="become-a-supplier-form__button">
            <div class="button button_send button_disabled"><a href="#" title="Отправить">Отправить</a></div>
          </div>
          <div class="become-a-supplier-form__link">
            <p>Нажимая на кнопку «Отправить», вы даёте разрешение на&nbsp;<a href="https://www.xcom-shop.ru/pages/privacy_policy/" target="_blank" title="Ознакомиться с нашей политикой конфиденциальности">обработку персональных данных</a>.</p>
          </div>
        </form>
      </div>
    </div>
    <!-- заявка отправлена-->
    <div class="module module_center" id="success"><a class="module__close close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="success">
        <div class="success__icon"><img src="/image/icon/success.svg" alt="icon"></div>
        <div class="success__title">
          <h3>Ваша заявка отправлена</h3>
        </div>
        <div class="success__text">
          <p>В ближайшее время с Вами свяжется наш менеджер</p>
        </div>
        <div class="success__button">
          <div class="button"><a class="close-popup" href="#" title="Хорошо">Хорошо</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=e4fb139"></script><script defer src="/assets/js/main.js?v=fa6b30c"></script></body>
</html>

src/view/suppliers.pug
extends include/main

block variables
  - let title = 'XCOM Поставщики'
  - let page = 'suppliers'

block content
  section#suppliers
    .container
      .suppliers.content-app
        .suppliers__title
          h1
            | Станьте поставщиком 
            br
            | интернет-магазина
            br
            span Xcom-shop
        .suppliers__lead Откройте новые возможности для роста и развития своего бизнеса!
        .suppliers__image
          img(src='/image/illustration/1.png' srcset='/image/illustration/1@2x.png 2x' loading='eager' alt='illustration')
        .suppliers__button
          .button.button_main
            a.open-popup(href='#become-a-supplier' title='Стать поставщиком в один клик')
              img(src='/image/icon/touch.svg' alt='icon')
              | Стать поставщиком в&nbsp;один&nbsp;клик
  section#sup-about
    .container
      .sup-about.content-app
        .sup-about__info
          img(src='/image/icon/check.svg' alt='icon')
          p
            b Xcom-shop
            |  гарантирует своим партнерам стабильный канал продаж и разнообразные программы стимулирования, маркетинговую и техническую поддержку. Мы создаем и поддерживаем партнерские отношения со всеми нашими поставщиками, а сотрудничество строим на принципах честности и прозрачности.
        .sup-about__title
          h2 Xcom-shop сегодня
        ul.sup-about-list
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/1.svg' alt='icon')
            .sup-about-list__group
              .sup-about-list__text
                p Входит в ТОП-10 крупнейших интернет-магазинов РФ в категории «Электроника и техника»
              .sup-about-list__note
                | данные 
                a(href='#' target='_blank' title='Data Insight') Data Insight
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/2.svg' alt='icon')
            .sup-about-list__text
              p Более 1 миллиона уникальных посетителей сайта в месяц
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/3.svg' alt='icon')
            .sup-about-list__text
              p Более 300 тысяч активных клиентов
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/4.svg' alt='icon')
            .sup-about-list__text
              p
                | Собственные склады в Москве и Санкт-Петербурге площадью более 10 000 м
                sup 2
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/5.svg' alt='icon')
            .sup-about-list__text
              p Более 100 тысяч товаров в каталоге
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/6.svg' alt='icon')
            .sup-about-list__text
              p 613 товарных групп (постоянно увеличивается)
          li.sup-about-list__item
            .sup-about-list__icon.sup-about-list__icon_wide
              img(src='/image/icon/7.svg' alt='icon')
            .sup-about-list__text
              p Оперативная доставка по всей России
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/8.svg' alt='icon')
            .sup-about-list__text
              p Эффективный online- и offline- маркетинг
        .sup-about__button
          .button.button_main
            a.open-popup(href='#become-a-supplier' title='Хочу стать поставщиком')
              img(src='/image/icon/touch.svg' alt='icon')
              | Хочу стать поставщиком
  section#sup-cooperation
    .container
      .sup-cooperation.content-app
        .sup-cooperation__title
          h2
            | Три простых шага к сотрудничеству с&nbsp;
            span Xcom-shop
        .sup-cooperation__group
          .sup-cooperation__desc
            ul.sup-cooperation-steps
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count 01
                .sup-cooperation-steps__text
                  p Заполните заявку и дождитесь обратной связи от наших менеджеров
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count 02
                .sup-cooperation-steps__text
                  p Обсудите с менеджером категории, цены и условия поставки
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count.sup-cooperation-steps__count_last 03
                .sup-cooperation-steps__text
                  p Подпишите договор и подготовьте товар к отгрузке
            .sup-cooperation__info
              .sup-cooperation__icon
                img(src='/image/icon/emails.svg' alt='icon')
              p
                | Или просто отправьте коммерческое предложение на 
                a(href='mailto:razvitie@xcom.ru' title='Напишите нам') mail@xcomshop.ru
          form.sup-cooperation-form(name='cooperation' autocomplete='off')
            fieldset.sup-cooperation-form__line
              .sup-cooperation-form__column
                label(for='name') ФИО
                input#name(type='text' name='name' required placeholder='Иванов Иван Иванович' value='' title='ФИО')
            fieldset.sup-cooperation-form__line
              .sup-cooperation-form__column
                label(for='company') Компания
                input#company(type='text' name='company' required placeholder='Ваша компания' value='' title='Компания')
            fieldset.sup-cooperation-form__line
              .radio
                input#type-phone(type='radio' name='type' value='phone' checked)
                label(for='type-phone') Номер телефона
              .radio
                input#type-email(type='radio' name='type' value='email')
                label(for='type-email') Почта
            fieldset.sup-cooperation-form__line.contact.contact_phone
              .sup-cooperation-form__column
                label(for='phone') Мобильный телефон
                input#phone(type='tel' name='phone' required placeholder='+7 (000) 000-00-00' value='' title='Мобильный телефон')
            fieldset.sup-cooperation-form__line.contact.contact_email
              .sup-cooperation-form__column
                label(for='email') Почта
                input#email(type='email' name='email' placeholder='mail@company.ru' value='' title='Почта')
            .sup-cooperation-form__button
              .button.button_send.button_disabled
                a(href='#' title='Отправить') Отправить
            .sup-cooperation-form__link
              p
                | Нажимая на кнопку «Отправить», вы даёте разрешение на&nbsp;
                a(href='https://www.xcom-shop.ru/pages/privacy_policy/' target='_blank' title='Ознакомиться с нашей политикой конфиденциальности') обработку персональных данных
                | .
